@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Brand colors */
    --color-primary: #E34A38;
    --color-secondary: #FCA311;

    /* Neutral colors */
    --color-dark: #0F1714;
    --color-light: #E8ECEB;

    /* Fonts */
    --font-inter: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-inter);
    background-color: var(--color-light);
    color: var(--color-dark);
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-weight: bold;
}

img {
    width: 150px;
    height: 150px;
}

::selection {
    background-color: var(--color-secondary);
    color: var(--color-light)
}